/* GLOBAL STYLES */

:root {
	--mode-color-background: white;
	--mode-color-foreground: black;
}

body {
	box-sizing: border-box;
	background-color: var(--mode-color-background, white);
	color: var(--mode-color-foreground, black);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

input,
select,
button {
	border: none;
}

.hide {
	display: none;
}

/* HEADER STYLES */

header {
	width: 100%;
	border-bottom: 1px solid gray;
}

#top-nav,
#top-nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#top-nav {
	margin: 1.5em 3.5em;
	font-family: 'Roboto';
	color: gray;
}

#top-nav h1 {
	font-weight: bold;
	font-size: 1.5em;
	word-spacing: -2px;
}

#top-nav h1 .lighter {
	font-weight: normal;
}

#top-nav ul li {
	margin: 0 0.75em;
}

#top-nav ul li:hover {
	text-decoration: underline;
	text-decoration-color: grey;
	cursor: pointer;
}

/* MAIN GLOBAL STYLES */

main {
	width: calc(100vw - 7em);
	min-width: 320px;
	margin: 1.5em auto;
}

/* MAIN NAV STYLES */

#main-nav,
#main-nav-adjust,
#main-nav-color-picker {
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-nav-adjust {
	justify-content: space-between;
	margin-left: 1.5em;
}

#main-nav {
	border: 1px solid gray;
	border-radius: 35px;
	padding: 0.5em 2em;
}

#font-size {
	flex-grow: 1;
	font-family: 'Roboto';
}

#search-fonts,
#custom-text,
#main-nav-adjust {
	flex-grow: 3;
	font-family: 'Roboto';
}

#search-fonts,
#custom-text {
	border-right: 1px solid gray;
	margin-right: 0.25em;
}

#main-nav-color-picker div {
	height: 1em;
	width: 1em;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 0 0.25em;
}

#black {
	background-color: black;
}

#white {
	background-color: white;
}

#main-nav-adjust button {
	margin: 0 0.25em;
	display: flex;
	align-items: baseline;
	justify-content: center;
}

input,
button,
select,
i {
	background-color: var(--mode-color-background, white);
	color: var(--mode-color-foreground, black);
}

/* FONT CARD CONTAINER STYLES */

#font-card-container {
	margin: 1.5em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/* FONT CARD STYLES */

:root {
	--font-card-width: calc(25% - 3em);
}

@keyframes fadeCardIn {
	from {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.font-card {
	height: 290px;
	width: var(--font-card-width);
	border-top: 1px solid var(--mode-color-foreground, black);
	padding-top: 0.75em;
	margin: 0 calc(12em / 8);
	position: relative;
	overflow: hidden;
	animation: fadeCardIn 0.8s linear forwards;
}

.list {
	width: 100% !important;
}

.font-card h2,
.font-card-info p {
	font-family: 'Roboto';
	font-size: 1em;
}

.font-card-info p {
	color: gray;
	margin-top: 0.5em;
}

.font-card .add-font {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	top: 0;
	border: 2px solid red;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
	font-size: 1.25em;
}

.font-card-sample {
	padding-top: 2em;
	font-size: 2em;
}

.font-card-sample p {
	color: var(--mode-color-foreground, black);
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* FONT SEARCH NULL STYLES */

@keyframes fadeErrorIn {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.no-results {
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Amatic SC';
	font-size: 2em;
	text-align: center;
	color: #486792;
	animation: fadeErrorIn 4s linear infinite;
}

/* ASIDE BUTTON STYLES */

#to-top {
	font-size: 2em;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0.5;
	display: none;
}

#to-top:hover {
	opacity: 1;
	cursor: pointer;
}

/* FOOTER STYLES */

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: 'Roboto';
	font-size: 0.75em;
	margin-bottom: 1em;
}

/* Media Queries */

@media (max-width: 1200px) {
	:root {
		--font-card-width: calc(33% - 3em);
	}
}

@media (max-width: 950px) {
	:root {
		--font-card-width: calc(50% - 3em);
	}
}

@media (max-width: 700px) {
	:root {
		--font-card-width: 100%;
	}

	#top-nav {
		flex-direction: column;
		align-items: flex-start;
	}

	#top-nav-ul {
		font-size: 0.75em;
		margin-top: 0.5em;
	}

	#top-nav ul li {
		margin: 0 0.75em 0 0;
	}

	#custom-text,
	#font-size,
	#main-nav-color-picker,
	#main-nav-layout,
	#main-nav-layout i {
		display: none;
	}

	#search-fonts {
		flex-grow: 3;
	}

	#main-nav-reset {
		flex-grow: 1;
	}

	main {
		width: calc(100vw - 2em);
	}
}

/* Modal css */

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.form-box {
	background-color: #eee;
border: none;
padding: 12px 15px;
margin: 8px 0;
width: 100%;
}

.text-center {
	margin-left: auto;
	margin-right: auto;
}

.mt-5 {
	margin-top: 5%;
}

.mt-2 {
	margin-top: 2%;
}

.login-modal td {
	/* width: 300px;
	padding: 5px;
  text-align: center; */
	/* background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%; */
}

.register-modal td {
	/* width: 300px;
	padding: 5px;
  text-align: center; */
	/* background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%; */
}

.center-text {
	text-align: center;
}

.register-modal,
.login-modal {
	display: none;
}

.link-text {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.register-btn,
.login-btn {
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.modal-heading {
	font-family: 'Montserrat', sans-serif;
}

#signed-in,#login-li-btn{
	display: hidden;
}